@font-face {
    font-family: harabara;
    src: url('../fonts/harabara.ttf')
}

$dark_green: #22343d;
$border_green: #1b282f;
$light_green: #64a555;
$soft_green: #d8e4d6;
$blue_hover: #556F8B;

html, body, #wrap { height: 100%; }
body {
    color: $border_green;
}
#wrap {
    height: auto;
    min-height: 100%;
    width: 1024px;
    margin: auto;
    background: $soft_green;
    position: relative;
}
header {
    background: $dark_green;
    border-top: 10px solid $border_green;
    border-bottom:  5px solid $border_green;
    #logo {
        width: 424px;
        float: left;
    }
    nav {
        width: 600px;
        float: right;
        margin-top: 10px;
        ul {
            float: right;
            margin-right: 20px;
        }
        li {
            display: inline;
            list-style: none;
            color: $light_green;
            font-size: 1.5em;
        }
        li:after {
            content: '/';
        }
        li:last-child:after {
            content: none;
        }
    }
}

.button {
    padding: 10px;
    border-radius: 5px;
}

.edit {
    color: white;
    background: #455464;
}
.edit:hover {
    background: $blue_hover;
}
.delete {
    color: white;
    background: #ff4700;
}
.delete:hover {
    background: #ff9900;
}
.crud {
    width: 700px;
    margin: 15px auto;
    border: 2px solid $border_green;
    border-radius: 5px;
    .button {
        float: right;
    }
}

tr { border-bottom: 1px solid $border_green; background: $light_green;}
tr:last-child { border-bottom: 0;}
tr:first-child:hover { background: $light_green;}
tr:hover { background: $soft_green;}
td {
    padding: 12px;
}

#add_post, #add_post_form {
    background: $dark_green;
    border-radius: 5px;
}

#add_post { 
    float: right;
}
#add_post:hover {
    background: $blue_hover;
}

#add_post_form { 
    position: relative;
    width: 280px;
    padding: 20px;

    #close { position: absolute; top: 5px; right: 5px; }
    label {color: $light_green; vertical-align: middle; float:left; margin-top: 7px; cursor: pointer;}
    input {float: right; border-radius: 5px; height: 25px;}
    textarea {width: 275px; margin: auto;}
}
.input-group {
    margin-bottom: 5px;
}

.content {
    padding: 20px;
    border-top: 1px solid #D6FFCF;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    width: 0px;
    height: 0px;
} 
.pre-footer {
    padding-bottom: 150px;
}

.addComment {
    width: 200px;
}
footer {
    position: relative;
    //margin-top: -150px;
    height: 150px;
    width: 1024px;
    margin: -165px auto;
    clear: both;

    background: $dark_green;
    border-top: 5px solid $border_green;
    border-bottom: 10px solid #1b282f;
    .scrollToTop {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
a {font-family: harabara; color: $light_green; text-decoration: none;}
a:hover {color: $soft_green;}

.img-line {
    margin-bottom: 10px;
    img {
        margin-right: 8px;
        width: 320px;
    }
    img:last-child {
       margin-right: 0;     
    }
}

section {
    // width: 90%;
    margin: 10px auto;
    padding: 0 10px 5px 10px;
    border: 5px solid white;
    background: #acd2e7;
}

