@font-face {
  font-family: harabara;
  src: url("../fonts/harabara.ttf"); }
html, body, #wrap {
  height: 100%; }

body {
  color: #1b282f; }

#wrap {
  height: auto;
  min-height: 100%;
  width: 1024px;
  margin: auto;
  background: #d8e4d6;
  position: relative; }

header {
  background: #22343d;
  border-top: 10px solid #1b282f;
  border-bottom: 5px solid #1b282f; }
  header #logo {
    width: 424px;
    float: left; }
  header nav {
    width: 600px;
    float: right;
    margin-top: 10px; }
    header nav ul {
      float: right;
      margin-right: 20px; }
    header nav li {
      display: inline;
      list-style: none;
      color: #64a555;
      font-size: 1.5em; }
    header nav li:after {
      content: '/'; }
    header nav li:last-child:after {
      content: none; }

.button {
  padding: 10px;
  border-radius: 5px; }

.edit {
  color: white;
  background: #455464; }

.edit:hover {
  background: #556f8b; }

.delete {
  color: white;
  background: #ff4700; }

.delete:hover {
  background: #ff9900; }

.crud {
  width: 700px;
  margin: 15px auto;
  border: 2px solid #1b282f;
  border-radius: 5px; }
  .crud .button {
    float: right; }

tr {
  border-bottom: 1px solid #1b282f;
  background: #64a555; }

tr:last-child {
  border-bottom: 0; }

tr:first-child:hover {
  background: #64a555; }

tr:hover {
  background: #d8e4d6; }

td {
  padding: 12px; }

#add_post, #add_post_form {
  background: #22343d;
  border-radius: 5px; }

#add_post {
  float: right; }

#add_post:hover {
  background: #556f8b; }

#add_post_form {
  position: relative;
  width: 280px;
  padding: 20px; }
  #add_post_form #close {
    position: absolute;
    top: 5px;
    right: 5px; }
  #add_post_form label {
    color: #64a555;
    vertical-align: middle;
    float: left;
    margin-top: 7px;
    cursor: pointer; }
  #add_post_form input {
    float: right;
    border-radius: 5px;
    height: 25px; }
  #add_post_form textarea {
    width: 275px;
    margin: auto; }

.input-group {
  margin-bottom: 5px; }

.content {
  padding: 20px;
  border-top: 1px solid #D6FFCF; }

.clear:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  width: 0px;
  height: 0px; }

.pre-footer {
  padding-bottom: 150px; }

.addComment {
  width: 200px; }

footer {
  position: relative;
  height: 150px;
  width: 1024px;
  margin: -165px auto;
  clear: both;
  background: #22343d;
  border-top: 5px solid #1b282f;
  border-bottom: 10px solid #1b282f; }
  footer .scrollToTop {
    position: absolute;
    right: 20px;
    top: 20px; }

a {
  font-family: harabara;
  color: #64a555;
  text-decoration: none; }

a:hover {
  color: #d8e4d6; }

.img-line {
  margin-bottom: 10px; }
  .img-line img {
    margin-right: 8px;
    width: 320px; }
  .img-line img:last-child {
    margin-right: 0; }

section {
  margin: 10px auto;
  padding: 0 10px 5px 10px;
  border: 5px solid white;
  background: #acd2e7; }
