<form action="script/edit.php?id=<?php echo $id?>" method="POST">
		<label for="email">E-mail</label>
		<input type="email" required disabled value="<?php echo $post['email']; ?>">
		<label for="title">Title</label>
		<input type="text" name="title" required value="<?php echo $post['title'] ?>">
		<label for="content">Content</label>
		<textarea name="content" id="" required cols="30" rows="10"><?php echo $post['content'];?></textarea>
		<input type="submit" value="Edit">
	
</form>