<table class="crud">
	<tbody>
		<tr>
			<td colspan="2">
				<h3>Title</h3>
			</td>
			<td colspan="2" align="center">
				<h3>Actions</h3>
			</td>
		</tr>
		<?php while ($post = mysql_fetch_array($title_query)): ?>
			<tr data-post="<?php echo $post['id'] ?>" class="post">
				<td colspan="2"><?php echo $post['title']; ?></td>
				<td>
					<a href="edit.php?id=<?php echo $post['id']; ?>" class="edit button">Edit</a>
				</td>
				<td>
					<a href="" class="delete button" data-id="<?php echo $post['id']; ?>">Delete</a>
				</td>
			</tr>	
		<?php endwhile;?>

	</tbody>

</table>