<div class="post">
    
<?php if ($id): $row = mysql_fetch_assoc($post_query); ?>

    <h2><?php echo $row['title']; ?></h2>
    <?php echo $row['content']; ?>
<?php endif; ?>

</div>
<?php if($comment_exist_flag == 1): ?>
    <hr/>
    <ul class='comments'>
        <h3>Comments</h3>
        <?php if($id):
            while ($comments = mysql_fetch_assoc($comment_query)):?>
            <li><?php if ($comments['post_id'] = $id):
                echo $comments['content'];
                echo '<br> <small>'.$comments['email'].'</small>';
                endif; ?>
            </li>
        <?php endwhile; 
        endif;
        ?>
    </ul>
<?php endif; ?>

<hr/>
<h3>Add comment</h3>
<form action="script/add_comment.php?id=<?php echo "$id"?>" method="POST" class="addComment">
    <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="email" required>
    <div class="clear"></div>   
    <label for="comment">comment</label>
    <textarea name="comment" id="comment-text" cols="31" rows="5" required></textarea>
    <input type="submit" value="Add!">      
</form>
