<div>
<?php if (filter_var($email, FILTER_VALIDATE_EMAIL)):?>
    <h2><?php echo "Success! You are amazing!"?></h2>
    <a href="post.php?id=<?php echo $id;?>">Watch post</a>
    <?php echo "Email: ".$email;?>

    <?php else: ?>
    <h2><?php echo "Fault! Check your Email!" ?></h2>

<?php endif; ?>
</div>

<a href="index.php">Go back</a>